.list {
	display: flex;
	align-items: center;
	&__item {
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		font-size: 1.8rem;
		font-weight: 500;
		transition: 0.3s;
		&:hover {
			color: $primary;
		}
	}
}
