@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .header__container {
    flex-wrap: wrap;
  }
  .header__inner {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .header__nav .list {
    flex-wrap: wrap;
  }
  .header__nav .list__item {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .header__nav {
    width: 100%;
    margin-right: 0;
  }
  .header__right-block {
    width: 100%;
    justify-content: center;
  }
}
