@media (max-width: 500px) {
  .hero__slider {
    width: 100%;
  }
  .hero__slider-item {
    width: 100%;
  }
  .hero__title {
    padding-top: 35px;
  }
  .hero__buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  .hero__button_colored {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .about__content-title {
    line-height: 3rem;
    margin-bottom: 15px;
    display: block;
  }
  .slider_btn {
    width: 30px;
  }
  .slider_btn.inverse {
    margin-top: 8px;
  }
  .slider .owl-nav {
    width: 95%;
  }
  .single-page__main-image {
    height: 400px;
  }
}
