.hero__slider .owl-next {
  transform: rotate(-180deg);
  margin-left: 35px;
}

.hero__slider .owl-nav {
  position: absolute;
  top: 69%;
  left: -580px;
  display: flex;
  align-items: center;
}

.hero__slider .owl-prev,
.hero__slider .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #b4b4b4 !important;
}

.hero__slider .owl-nav [class*='owl-'].disabled {
  border: 0 solid #b4b4b4 !important;
}

.hero__slider .icon-sl {
  font-size: 3rem;
  color: #b4b4b4;
}

.slider .owl-stage-outer {
  overflow: unset;
}

.slider_btn {
  display: block;
}

.slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider .owl-nav [class*='owl-'].disabled {
  opacity: 0;
  visibility: hidden;
}

.slider .owl-prev {
  transform: rotate(-180deg);
}

.page-media .owl-stage-outer {
  overflow: unset;
}

.page-media .owl-item.active .page-media__slider-pic img {
  height: 100%;
}

.page-media .owl-item.active .page-media__slider-desc {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.page-media .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-media .owl-prev,
.page-media .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: $primary !important;
  border-radius: 50%;
  box-shadow: 0px 34px 39px rgba(0, 0, 0, 0.05);

  & span {
    color: #fff;
    transition: 0.5s;
  }
}

.page-media .owl-prev {
  margin-left: -35px;
}

.page-media .owl-nav [class*='owl-'].disabled {
  background: #fff !important;
  transition: 0.5s;
  & span {
    color: $primary;
  }
}
