@font-face {
	font-family: 'VisueltPro';
	src: url('../fonts/VisueltPro/VisueltPro-Regular.woff2') format('woff2'),
		url('../fonts/VisueltPro/VisueltPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'VisueltPro';
	src: url('../fonts/VisueltPro/VisueltPro-Medium.woff2') format('woff2'),
		url('../fonts/VisueltPro/VisueltPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TacticRound';
	src: url('../fonts/TacticRound/TacticRound-Bold.woff2') format('woff2'),
		url('../fonts/TacticRound/TacticRound-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
